<div id="sidebar">
	<a href="index.html"><img id="sidebarlogo" src= "/assets/image/logo.png"></a>
		<br />
	    <a class="sidebarlink" href="/index.html">Introduction</a> <br />
	    <a class="sidebarlink" href="/events.html">Events & Announcements</a> <br />
		<a class="sidebarlink" href="/rootzone.html">Yeti Root Zone</a> <br />
	    <a class="sidebarlink" href="/documents.html">Documents & Resource</a> <br />
		<a class="sidebarlink" href="/operators.html">Operators and Participants </a> <br />
	    <a class="sidebarlink" href="/statistics.html">Statistics</a> <br />
		<a class="sidebarlink" href="/acknowledgement.html">Acknowledgement</a> <br />
	<br />
		<div class="contact"></div>	
		<a class="sidebarlink" href="/post.html">Yeti Post</a> <br />
	    <a class="sidebarlink" href="/join.html">Join us</a> <br />
	    <a class="sidebarlink" href="/about.html">About us</a> <br />
	    <a class="sidebarlink" href="/faq.html">FAQ</a> <br />
	<br />
    </div>
